/* styling for all pages */
/* header */

header{
    width: auto;
}

.header {
    padding: 30px;
    text-align: center;
    background-image: url(../images/lightmodeheader.jpg);
    background-color: #cccccc;
    background-repeat: repeat;
  }

  .header h1 {
    font-family: 'Courier Prime', 'Courier New';
    font-size: 50px;
    text-shadow: 0 0 3px #D6D0C8;
  }  


/* nav bar */
.topnav {
    display:flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #333;
  }
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* change nav bar color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: underline;
  }

/* highlights current page */
.topnav a.active_page:link, a.active_page:visited{
    /* content:'\1F4D6';  */
    text-decoration:underline;
}

body{
    width: 100%;
    background-color: #D6D0C8;
	font-family: 'Assistant', Verdana;
    font-size: 18px;
}

body h2{
    font-size: 25px;
    font-family: 'Courier Prime';
    text-align: center;
}

h2 a{
    text-decoration: none;
    color: inherit;
}
body h3{
    padding-bottom: 5px;
    font-size: 21px;
}

p, li{
    line-height: 1.4;
}
/* book bullet points */
ul{
    list-style: "\1F4D6";
    list-style-position: outside;
}
li{
    padding-left: 4px;
}

figcaption, .booktitle{
    font-size: 1.1em;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background-image: url(../images/lightmodeheader.jpg);
    margin-top: 20px;
    font-size: 30px;
    text-shadow: 0 0 3px #D6D0C8;
  }
  
  footer p{
    display:inline-block;
    padding: 5px;
    font-size: 21px;
    border: 2px solid #333;
    background-color: #333;
    color: #D6D0C8;
    text-shadow: none;
  }

  footer p a{
    color: #D6D0C8;
  }
/* skip to content */
a.skip{
background: white;
left: 0;
padding: 6px;
position: absolute;
top: -40px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
}

a.skip:focus{
top:20px;
color: black;
text-decoration-style: solid;
}

*:focus{
border: 2px solid tan;
}


h2{
    width:100%;
    margin: auto;
    padding: 11px;
}

/* home page */

.home_container{
    display: grid;
    justify-content: center;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
    padding-top: 11px;
    grid-column-gap: 20px;
}

/* cards */
.card {
    background-color: #ddd7ce;
    padding: 20px;
    margin-top: 20px;
    flex-basis: 100%;
  }
  .home_container > .current_read > .bookcontainer{
    padding: 11px;
    width: 65%;
    margin: auto;
    display: block;
    justify-content: space-around;
}


/* currently reading overlay */
.bookcontainer {
position: relative;
width: 50%;
}

.current_reads_img {
display: inline block;
width: 100%;
height: auto;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #8d8079;
}

.bookcontainer:hover .overlay {
opacity: 1;
}

.booktext {
color: white;
font-family: 'Assistant';
font-size: 2em;
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);}

/* fave books - flex */

.books, .tbr p:first-child{
    margin: 11px 4px 5px 11px;
}
    
.flex_container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.flex_img img{
    margin: 10px;
    width: 218px;
    height: auto;
    flex-wrap: wrap;
    align-content: center;
}
.flex_img> img:hover, .gallery > figure> img:hover{
    border: solid 3px #8d8079;
} 
.booktitle > p{
    text-align: center;
}

.booktitle::first-line{
    font-weight: bolder;
}

.fave_intro > p::after{
    content: "\1F642" ;
}
     
/* grid- tbr page */
.gallery{ 
    display: grid;
    width: 90%;
    grid-template-columns: 90%;
    row-gap: 11px;
    padding-top: 11px;
    justify-content: space-evenly;
    align-items: center;
}


.gallery > figure > img{
    width: 85%;
    margin: auto;
    display: block;
}

.gallery > figure > figcaption{
    text-align: center;
}

.controls{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.controls > button {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #3a2d28;
    background: #BCB3AE;
    padding: 5px 10px 5px 10px;
    font-family: 'Assistant';
    text-decoration: none;
  }
  
  .controls > button:hover {
    background: #d1c7bd;
    text-decoration: none;
  }

  .hide{
    display: none;
  }

/* media query tablet view */
@media screen and (min-width: 500px){

    .hide{
        display: inline-block ;
    }
    .gallery {
        display: grid;
        grid-template-columns: 45% 45%;
    }

    nav{
        width: 100%;
    }
    .topnav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex_image{
        flex-basis: 200px;
    }

    .booktext {
        font-family: 'Assistant';
        color: white;
        font-family: 'Assistant';
        font-size: 2em;
    }
    
    .home_container > .bookcontainer{
        width: 85%;
        margin: auto;
        display: inline block;
    }

    #typewriter{
        overflow: hidden;
        border-right: .15em solid #BCB3AE; 
        white-space: nowrap;
        margin: 0 auto;
        animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end 10s;
    }
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: #D6D0C8; }
    }
}


/* media query larger screen view */

@media screen and (min-width: 750px){
    .gallery{
       grid-template-columns: 32% 32% 32%;
    }

    .home_container{
        width: 100%;
        grid-template-columns: 60% 30%;
        grid-column-gap: 20px;
    }
    .booktext {
        font-size: 1.3em;
    }

    .card{
        padding: 20px;
    }
    .whyread{
        grid-column: 1 / span 1;
    }
    .current_read{
        grid-column: 2;
        grid-row: 1;
    }
    header {
        flex-flow: row;
        justify-content: space-between;
    }    
    
}

@media (prefers-reduced-motion) {
    #typewriter{
        animation-name: dissolve;
        border: none;
    }
}